<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <label for="username" class="block text-pokemon-white-500">Username</label>
        <input type="text"
            ngModel
            #usernamer="ngModel"
            name="username" id="username" 
            class="border border-slate-300 p-2 rounded w-full" 
            placeholder="johndoe" />
    </fieldset>

    <button type="submit" class="bg-pokemon-red-500 p-2 rounded text-pokemon-white-500">Login</button>
</form>
